
<br>
<button (click)="showStudents()">Show Students</button>
<br>
<label>Sort By:</label>
<input name="sort" type="radio" (click)="sortByPercent()">Percentage
<input name="sort" type="radio"  (click)="sortByAttempts()">Attempts
<input name="sort" type="radio" (click)="sortByNoOfSubjects()">No of Subjects

<h4>Student List is:</h4>
<table *ngIf="students.length > 0">
    <thead>
        <th>Roll No</th>
        <th>Name</th>
        <th>Attempts</th>
        <th>Percentage</th>
        <th>Subjects</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td>{{s.rollNo}}</td>
            <td>{{s.name | uppercase}}</td>
            <td>{{s.attempts}}</td>
            <td>{{s.percentage}}</td>
            <td>
                <ul *ngFor="let sub of s.subjectsLearning">
                    <li>{{sub}}</li>
                </ul>
            </td>
            <td>
                <button class="btn-delete" (click)="deleteStudent(s.rollNo)">Delete</button>&nbsp;
                <button (click)="updateStudent(s)">Update</button>
            </td>
        </tr>
    </tbody>
</table>
<span [class]="colorClass">{{message}}</span>
