.toolbar {
    margin: 0;
    padding: 10px;
    background: #a9d1fd;
}

nav {
    background: #2a6bb1;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

a {
    color: white;
    padding: 5px;
    text-decoration: none;
    justify-items: center;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 2px;
}

a:hover {
    background-color: white;
    color: #2a6bb1;
}

a:active {
    background-color: #2a6bb1;
    color: white;
}